
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {

}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.nav-item {
  list-style: decimal-leading-zero;
  background-color: black;
}

.nav-item:hover {
  background: burlywood;
}

.nav-item a {
  color: white;

  padding: 0.3rem;
}

.main-div {
  text-align: center;
  background-image: url("html..jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.space {
  padding-top: 2rem;
  padding-bottom: 40rem;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  font-style: italic;
  font-size: 5mm;
}
.paragraph {
  color: rgb(238, 228, 228);
  font-size: 20px;
  font-style: italic;
